<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cretueusebiu.taskmanager" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Task Manager"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Tasks"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateReminder"
            android:label=""
            android:theme="@style/AppTheme.Create" >
        </activity>
        <activity
            android:name=".CreateTask"
            android:label=""
            android:theme="@style/AppTheme.Create" >
        </activity>
        <activity
            android:name=".DisplayTaskActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RemindersActivity"
            android:label="Reminders"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EditTaskActivity"
            android:label=""
            android:theme="@style/AppTheme.Create" >
        </activity>
        <activity
            android:name=".EditReminderActivity"
            android:label=""
            android:theme="@style/AppTheme.Create" >
        </activity>
        <activity
            android:name=".BackupActivity"
            android:label="Backup"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <receiver android:name=".alarm.AlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver
            android:name=".alarm.DeviceBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DisplayReminderActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
